<div class='flex-row w-100'>
  <div>
    <h1><%=@task.title%></h1>
  </div>
  <div>
    <%= link_to 'Edit me', edit_task_path, class: 'btn btn-primary btn-sm'%>
  </div>
</div>
<div>
  <%=@task.details%>
  <% if @task.completed%>
    <i class="fas fa-square" ></i>
  <%else%>
    <i class="far fa-square" ></i>
  <% end %>
 </div>
 <div>
  <%= link_to 'Back', tasks_path, class: 'btn btn-primary btn-sm'%>
  <%= link_to 'Delete this Task', task_path,
    class: 'btn btn-primary btn-sm',
    method: :delete,
    data: { confirm: "Are you sure?" }%>
 </div>
